/* Starting off with Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ——————————— YOUR CSS STARTS BELOW HERE ——————————— */

body {
  background-color: peachpuff;
}
h1, .title {
  font-family: wausau;
  text-align: center;
  font-size:  100px;
}
h2 {
  font-family: colt;
  text-align: center;
}
h3 {
  font-family: colt;
  text-align: center;
}
h3.header{
  text-align: center;
}
P {
font-family: Lato;
font-size: 20px;
}
body {
  background-image: url("Images/untitled folder/background.jpeg"); resize:  2000px;
}
h2.LukeCombs {
font-family: Colt;
text-align: center;
font-size: 70px;
}
h2.Title {
font-family: wausau;
text-align: center;
font-size: 60px;
}
h4 {
  font-family: colt;
  font-size: 16px;
  text-align: center;
}
image.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.SouthAfricanFlag {
  max-width: 100%;
  height: auto;
  nav-left: auto;
}
h4.showlink {
  font-family: wausau;
}
img.AmericanFlag {
  nav-right: auto;
}
img.Logo {
text-align: center;
}
#left {
  text-align: left;
}
